global
    log 127.0.0.1 local0 notice
    stats socket /etc/haproxy/haproxysock level admin
    maxconn 200
    user haproxy
    group haproxy


defaults
    log      global
    mode     tcp
    option   tcplog
    option   dontlognull
    retries  3
    option   redispatch
    timeout connect   5000
    timeout client    10000
    timeout server    10000


frontend Demo
    bind {{ VIP }}:443
    default_backend demo-pool1

backend demo-pool1
{% for server, ip in salt['mine.get'](tgt='roles:iis', fun='winip', expr_form='grain').items() %}
    server {{ server}}_{{ loop.index }} {{ ip[0] }}:443 check
{% endfor %}
