 @font-face {
 font-family: 'Puritan20Italic';
 src: url('puritan/puritan_italic-webfont.eot?') format('eot'),  url('puritan/puritan_italic-webfont.woff') format('woff'),  url('puritan/puritan_italic-webfont.ttf') format('truetype'),  url('puritan/puritan_italic-webfont.svg#webfontZMWmRIPG') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'Puritan20Normal';
 src: url('puritan/puritan_regular-webfont.eot?') format('eot'),  url('puritan/puritan_regular-webfont.woff') format('woff'),  url('puritan/puritan_regular-webfont.ttf') format('truetype'),  url('puritan/puritan_regular-webfont.svg#webfontJ25dHiGv') format('svg');
 font-weight: normal;
 font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Puritan20Normal';
}

a.button {
	font-family: 'Puritan20Normal';
}

.dropcap {
	font-family: 'Puritan20Normal';
}


table th {
	font-family: 'Puritan20Normal';
}

.ddsmoothmenu {
	font-family: 'Puritan20Normal';
}

.ddsmoothmenu ul li ul {
	font-family: 'Puritan20Normal';
}

.intro h1 {
	font-family: 'Puritan20Italic';
}

ul.gallerynav li a {
	font-family: 'Puritan20Normal';
}

ul#tab-menu {
	font-family: 'Puritan20Normal';
}

#wrapper ul.tabs li {
	font-family: 'Puritan20Normal';
}